.grid {
    column-count: 2;
    column-gap: 1em;
    max-width: 1280px;
    margin: auto;
    width: 100%;
  }
  
  img {
    height: auto;
    max-width: 100%;
  }
  
  @media(max-width: 800px) {
      .grid {
        column-count: 1;
    }
  }
  
  @media(max-width: 600px) {
      .grid {
        column-count: 1;
    }
  }
  
  @media(max-width: 400px) {
      .grid {
        column-count: 1;
    }
  }


  .zoom {
    padding: 10px;
    /*background-color: green;*/
    transition: transform .2s; /* Animation */
    /*width: 10px;*/
    /*height: 10px;*/
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
